.login_wrapper {
    margin-left: 0px !important;
}

.login_form {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.alert-danger {
    background: #ffd2ca;
    border: 1px solid #f9bfb4;
    margin: 17px 20px -6px 20px !important;
    color: #211a1a;
}

.required {
    color: red;
}

#enable_api_key {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.low_prio {
    background: #dbf6fd;
}

.low_prio .box-progress{
    background: #096c86;
}

.low_prio .days-left{
    color: #096c86;
}

.medium_prio {
    background: #fee4cb;
}

.medium_prio .box-progress{
    background: #ff942e;
}

.medium_prio .days-left{
    color: #ff942e;
}

.high_prio {
    background: #ffd3e2;
}

.high_prio .box-progress{
    background: #df3670;
}

.high_prio .days-left{
    color: #df3670;
}

.days-left {
    margin-bottom: 5px;;
}

.project_name {
    text-align: center;
}

.task_name {
    width: 90%; 
    float:left;
}

.dropdown {
    font-family: "DM Sans", sans-serif;
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
}

.projects-section-header p.project-section-header__title {
    margin-right: auto;
}

.projects-section-header .time {
    margin-left: 15px;
}

.export__button, .sync__button, .update_filters__button {
    font-family: "DM Sans", sans-serif;
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    margin-left: 5px;
}

@charset "UTF-8";
input.accordion__comment {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  margin-bottom: 0px;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

button, a {
  cursor: pointer;
  text-decoration: none;
}

a {
  color: var(--main-color);
}

button {
  color: black;
}
div.container.comment_box {
  margin-bottom: 10px;
}

div.date__comment {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

label.date_label {
  position: relative;
  color: var(--secondary-color);
}

div.box-progress-wrapper {
  width: 640px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
}
table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}
tr, td {
  border: 1px solid rgb(187, 187, 187);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(0, 0, 0);
}
th {
  text-align: left;
  color: rgb(255, 255, 255);
}
thead th {
  background-color: #000000;
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: #DCDCDC;
  z-index: -1;
}

h4.comment__message {
  margin-left: 20px;
}

p {
  margin-left: 20px;
  margin-top: revert;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

p.dashboard__time {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

b, strong {
  font-weight: bold;
}


/* Google fonts - Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* colors */
/* body */
/* links */
.medium_time a, .low_time a, .high_time a {
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.medium_time a, .high_time a, .low_time a {
  color: var(--main-color);
}

/* wrapper */
.wrapper_task_listing {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 100px auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  position: relative;
}

/* lists */
.custom_row ul {
  margin: 0;
  padding: 0;
}

.custom_row ul li {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none;
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  color: var(--main-color);
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .custom_row ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 479px) {
  .custom_row ul li {
    font-size: 13px;
  }
}

.title ul li {
  padding: 15px 13px;
}

.custom_row ul li {
  padding: 5px 10px;
}

/* rows */
.custom_row {
  height: 100px;
  font-size: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.custom_row:hover {
  background-color: var(--tabbed-row-bg-hover);
  height: auto;
}heello
@media only screen and (max-width: 767px) {
  .custom_row:hover {
    height: auto;
  }
}
@media only screen and (max-width: 359px) {
  .custom_row:hover {
    height: auto;
  }
}

.title {
  padding: 10px 0 5px 0;
  height: 50px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
}

.title:hover {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 767px) {
  .title-hide {
    display: none;
  }
}

/* row one - fadeIn */
.row-fadeIn-wrapper {
  opacity: 0;
  font-size: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-out;
  -webkit-animation: fadeIn 0.4s ease-out 2s 1 alternate;
          animation: fadeIn 0.4s ease-out 2s 1 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.row-fadeIn-wrapper:hover {
  height: 35px;
}
@media only screen and (max-width: 767px) {
  .row-fadeIn-wrapper:hover {
    height: 55px;
  }
}
@media only screen and (max-width: 359px) {
  .row-fadeIn-wrapper:hover {
    height: 75px;
  }
}

.fadeIn {
  padding: 20px 0;
  font-size: 0;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.fadeIn:hover {
  background-color: rgba(26, 26, 26, 0.9);
}

/* row two - fadeOut */
.row-fadeOut-wrapper {
  font-size: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-out;
  -webkit-animation: fadeOut 0.4s ease-out 8s 1 alternate;
          animation: fadeOut 0.4s ease-out 8s 1 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 1;
  height: 65px;
}

.row-fadeOut-wrapper:hover {
  height: 100px;
}

/* update content */
.update-row {
  -webkit-animation: update 0.5s ease-out 12s 1 alternate;
          animation: update 0.5s ease-out 12s 1 alternate;
}

.update1 {
  position: absolute;
  top: 25px;
  display: inline-block;
  opacity: 1;
  -webkit-animation: update1 1s ease-out 12s 1 alternate;
          animation: update1 1s ease-out 12s 1 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.update2 {
  position: absolute;
  top: 25px;
  display: inline-block;
  opacity: 0;
  -webkit-animation: update2 4s ease-out 13s 1 alternate;
          animation: update2 4s ease-out 13s 1 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* more content */
ul.more-content li {
  position: relative;
  top: 22px;
  font-size: 13px;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 13px;
  display: block;
  height: 100%;
  width: 100%;
  color: rgba(128, 128, 128, 0.9);
}
@media only screen and (max-width: 767px) {
  ul.more-content li {
    font-size: 11px;
  }
}

/* small content */
.small {
  color: rgba(102, 102, 102, 0.9);
  font-size: 10px;
  padding: 0 10px;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .small {
    display: none;
  }
}

/* keyframe animations */
@-webkit-keyframes fadeIn {
  from {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    padding: 0;
  }
  to {
    background: rgba(51, 51, 51, 0.1);
    opacity: 1;
    padding: 0 0 65px 0;
  }
}
@keyframes fadeIn {
  from {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    padding: 0;
  }
  to {
    background: rgba(51, 51, 51, 0.1);
    opacity: 1;
    padding: 0 0 65px 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    background: rgba(51, 51, 51, 0.1);
    opacity: 1;
    height: 65px;
  }
  to {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    height: 0;
  }
}
@keyframes fadeOut {
  from {
    background: rgba(51, 51, 51, 0.1);
    opacity: 1;
    height: 65px;
  }
  to {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    height: 0;
  }
}
@-webkit-keyframes update {
  0% {
    background: rgba(51, 51, 51, 0.1);
  }
  50% {
    background: rgba(255, 255, 255, 0.1);
  }
  100% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@keyframes update {
  0% {
    background: rgba(51, 51, 51, 0.1);
  }
  50% {
    background: rgba(255, 255, 255, 0.1);
  }
  100% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@-webkit-keyframes update1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes update1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes update2 {
  0% {
    opacity: 0;
    color: rgba(255, 255, 255, 0.9);
  }
  20% {
    opacity: 1;
    color: #52d29a;
  }
  100% {
    opacity: 1;
    color: rgba(255, 255, 255, 0.9);
  }
}
@keyframes update2 {
  0% {
    opacity: 0;
    color: rgba(255, 255, 255, 0.9);
  }
  20% {
    opacity: 1;
    color: #52d29a;
  }
  100% {
    opacity: 1;
    color: rgba(255, 255, 255, 0.9);
  }
}

ul.task_details__row {
  height: 100px;
}

div.task_listing__scroll {
  height: 100%;
  text-align: justify;
}

ul.task_details__row li:first-child {
  width: 50%;
}
ul.task_details__row li {
  position: relative;
  height: 100%;
}

ul.task_details__row li:last-child {
  width: 30%;
}

main.custom_row ul li {
  width: 100%;
}

main.custom_row ul {
  text-align: center;
}

.nav-link, .nav-link:hover {
  color: var(--main-color);
}

.fas.fa-user-clock.high_time {
  color: #F00000;
}
.fas.fa-user-clock.medium_time {
  color: #03b9ff;
}
.fas.fa-user-clock.low_time {
  color: #35e735;
}

div.time-capsules, ul.task_details__row li a, p.custom_row__due_date {
  position: absolute;
  top: 50%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

p.custom_row__due_date {
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
}

.custom_row__content {
  color: var(--main-color);
  transition: all 0.35s;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred,
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
  background-color: var(--to-do-list-bg);
  color: var(--main-color);
}

.date__comment b {
  margin-left: auto;
}


  .table{
  background-color: #fff !important;
  }
  .hedding h1{
  color:#fff;
  font-size:25px;
  }
  .main-section{
  margin-top: 120px;
  }
  .hiddenRow {
  padding: 0 4px !important;
  background-color: #eeeeee;
  font-size: 13px;
  }
  .accordian-body span{
  color:#a2a2a2 !important;
  }
  
table.table.table-bordered {
  width: 90%;
}  

.fa-stack[data-count]:after{
  position:absolute;
  right: 5%;
  top: 10%;
  content: attr(data-count);
  font-size:60%;
  padding:.3em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1.5em;
  font-weight:bold;
  cursor: pointer;
}

.fa-stack {
  width: 1.5em;
}

.table__project_title, .table__project_title tr:hover, .table__project_title td:hover {
  background-color: var(--table-project-title-bg);
}

.table__project_tasks, .table__project_tasks td:hover, .table__project_tasks tr:hover {
  background-color: var(--table-task-bg);
}

.table__project_title td {
  color: var(--main-color);
  text-align: center;
  font-weight: 900;
}

td.table_center_text {
  text-align: center;
}

.table__project_title tr {
  cursor: default;
}

tr.table__tab_column {
  background-color: var(--table-header-bg);
  text-align: center;
}

tr.table__tab_column td, tr.table__project_tasks td {
  color: var(--main-color);
}

a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

tr.table__task_comments {
  background-color: var(--table-task-comment-bg);
}

.custom_row__due_date {
  text-align: center;
}

h3, h4, h5, p {
  color: var(--main-color);
}

.modal-content {
  background-color: var(--projects-section);
}

#to_do__close {
  border-radius: 10px;
}